.bigDiv {
  display: flex;
  justify-content: center;
  position: center;
  margin-top: 2vh;
  margin-bottom: 10vh;
}
.card-group {
  margin-right: 2vw
}
.buttonDiv {
}
section {
    margin-top: 8vh;
  display: flex;
  justify-content: center;
}
